@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

html, body {
  height: 100%;
  background-color: #F0F0DB;
}

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #B6B09F;
}


::-webkit-scrollbar-thumb {
  background: #B6B09F;
}


::-webkit-scrollbar-thumb:hover {
  background: #C44536;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F0F0DB;
  color: #000000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }





/* Global style: styles.scss */
/* Form field container */
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #E1D9BC !important; /* nền main */
  border-radius: 12px !important;       /* bo tròn */
  border: 2px solid #d0c7b9 !important; /* màu header */
  padding: 4px 12px !important;
  transition: all 0.3s ease !important;
}

/* Focus state */
.mat-form-field-appearance-fill.mat-focused .mat-form-field-flex {
  border-color: #915f23 !important; /* màu footer */
  box-shadow: 0 2px 6px rgba(145,95,35,0.25) !important;
}

/* Label */
.mat-form-field-label {
  color: #915f23 !important;
  font-weight: 600 !important;
}

/* Selected value */
.mat-select-value-text {
  color: #000000 !important;
}

/* Dropdown panel options */
.mat-select-panel .mat-option {
  font-family: 'Nunito Sans', sans-serif;
  color: #222 !important;
  font-size: 16px;
}

/* Hover option */
.mat-select-panel .mat-option:hover {
  background: linear-gradient(to right, #e4cb85, #915f23) !important;
  color: #fff !important;
}
